certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
et-xmlfile==1.1.0
idna==3.6
lxml==5.1.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
pycparser==2.21
pyspnego==0.10.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
requests-ntlm==1.2.0
requests-toolbelt==1.0.0
schedule==1.2.1
SharePlum==0.5.1
six==1.16.0
sspilib==0.1.0
tzdata==2024.1
urllib3==2.2.1
